/**********************module01  start*******************/
/* line 160, Color/*.png */
.Color-sprite, .Color-blue_btn, .Color-blue_hoverbtn, .Color-brown_btn, .Color-brown_hoverbtn, .Color-btn1, .Color-btn2, .Color-btn3, .Color-btn4, .Color-btn5, .Color-btn6, .Color-btn7, .Color-red_btn, .Color-red_hoverbtn, .Color-white_btn, .Color-white_hoverbtn {
  background-image: url('../images/Color-sec496b5e8c.png');
  background-repeat: no-repeat; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-blue_btn {
  background-position: 0 0; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-blue_hoverbtn {
  background-position: 0 -96px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-brown_btn {
  background-position: 0 -221px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-brown_hoverbtn {
  background-position: 0 -317px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn1 {
  background-position: 0 -442px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn2 {
  background-position: 0 -476px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn3 {
  background-position: 0 -510px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn4 {
  background-position: 0 -544px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn5 {
  background-position: 0 -578px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn6 {
  background-position: 0 -612px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-btn7 {
  background-position: 0 -646px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-red_btn {
  background-position: 0 -680px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-red_hoverbtn {
  background-position: 0 -776px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-white_btn {
  background-position: 0 -901px; }

/* line 84, C:/Ruby/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.Color-white_hoverbtn {
  background-position: 0 -997px; }

/********************module01  end*********************/
