@charset "UTF-8";
/* line 22, D:/tobe/core/_mixin.scss */
.revolve_box .revolve_nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 120, D:/tobe/core/_mixin.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_right h4, .inf_box .inf_item .inf_bar .inf_con .inf_right h3, .inf_pop .inf_pop_title, .inf_pop .inf_pop_title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* line 15, D:/tobe/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 30, D:/tobe/core/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 42, D:/tobe/core/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 49, D:/tobe/core/_reset.scss */
[hidden], template {
  display: none; }

/* line 61, D:/tobe/core/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 70, D:/tobe/core/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 79, D:/tobe/core/_reset.scss */
body {
  margin: 0; }

/* line 86, D:/tobe/core/_reset.scss */
a {
  background: transparent; }
/* line 90, D:/tobe/core/_reset.scss */
a:hover, a:active {
  outline: 0; }

/* line 97, D:/tobe/core/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 102, D:/tobe/core/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 108, D:/tobe/core/_reset.scss */
blockquote {
  margin: 1em 40px; }

/* line 114, D:/tobe/core/_reset.scss */
dfn {
  font-style: italic; }

/* line 119, D:/tobe/core/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 126, D:/tobe/core/_reset.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 138, D:/tobe/core/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 145, D:/tobe/core/_reset.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 154, D:/tobe/core/_reset.scss */
q {
  quotes: none; }

/* line 159, D:/tobe/core/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 166, D:/tobe/core/_reset.scss */
small {
  font-size: 80%; }

/* line 172, D:/tobe/core/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 179, D:/tobe/core/_reset.scss */
sup {
  top: -0.5em; }

/* line 182, D:/tobe/core/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 190, D:/tobe/core/_reset.scss */
dl, ol, ul {
  margin: 1em 0; }

/* line 195, D:/tobe/core/_reset.scss */
dd {
  margin: 0 0 0 40px; }

/* line 199, D:/tobe/core/_reset.scss */
ol, ul {
  padding: 0 0 0 40px; }

/* line 205, D:/tobe/core/_reset.scss */
nav ul, nav ol {
  list-style-image: none; }

/* line 218, D:/tobe/core/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 225, D:/tobe/core/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 230, D:/tobe/core/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 240, D:/tobe/core/_reset.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 253, D:/tobe/core/_reset.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 267, D:/tobe/core/_reset.scss */
button, input {
  line-height: normal; }

/* line 276, D:/tobe/core/_reset.scss */
button, select {
  text-transform: none; }

/* line 288, D:/tobe/core/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 300, D:/tobe/core/_reset.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 309, D:/tobe/core/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 321, D:/tobe/core/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 330, D:/tobe/core/_reset.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 338, D:/tobe/core/_reset.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 346, D:/tobe/core/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 354, D:/tobe/core/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 361, D:/tobe/core/_reset.scss */
optgroup {
  font-weight: bold; }

/* line 366, D:/tobe/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 374, D:/tobe/core/_reset.scss */
html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 380, D:/tobe/core/_reset.scss */
body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff; }

/* line 386, D:/tobe/core/_reset.scss */
body, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif; }

/* line 393, D:/tobe/core/_reset.scss */
img {
  vertical-align: middle; }

/* line 396, D:/tobe/core/_reset.scss */
textarea {
  resize: vertical; }

/* line 399, D:/tobe/core/_reset.scss */
h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0; }

/* line 403, D:/tobe/core/_reset.scss */
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

/* line 407, D:/tobe/core/_reset.scss */
ul, ol {
  list-style: none outside none; }

/* line 412, D:/tobe/core/_reset.scss */
h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

/* line 416, D:/tobe/core/_reset.scss */
h1 {
  font-size: 21px; }

/* line 419, D:/tobe/core/_reset.scss */
h2 {
  font-size: 18.2px; }

/* line 422, D:/tobe/core/_reset.scss */
h3 {
  font-size: 16.38px; }

/* line 425, D:/tobe/core/_reset.scss */
h4 {
  font-size: 14px; }

/* line 428, D:/tobe/core/_reset.scss */
h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase; }

/* line 434, D:/tobe/core/_reset.scss */
a {
  text-decoration: none;
  color: #08c; }
/* line 443, D:/tobe/core/_reset.scss */
a:hover {
  color: #006699; }

/* line 453, D:/tobe/core/_reset.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ccc; }

/* line 458, D:/tobe/core/_reset.scss */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ccc; }

/* line 463, D:/tobe/core/_reset.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ccc; }

/* line 468, D:/tobe/core/_reset.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc; }

/* CSS Document */
/*-------------------------------------css--------------------------------------------*/
/* line 40, ../sass/style.scss */
html, body, .Wrap, .Main {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: "Microsoft Yahei"; }

/* line 41, ../sass/style.scss */
body {
  width: 640px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden; }

/* line 42, ../sass/style.scss */
* {
  font-size: 30px;
  font-family: "Microsoft Yahei"; }

/* line 43, ../sass/style.scss */
.Wrap {
  position: relative;
  top: 0;
  left: 0; }

/* line 44, ../sass/style.scss */
.Main {
  position: absolute;
  top: 0;
  left: 0; }

/* line 45, ../sass/style.scss */
.Position {
  position: absolute; }

/* line 46, ../sass/style.scss */
.PublicScenes {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden; }

/*各场景背景*/
/* line 48, ../sass/style.scss */
.Bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  overflow: hidden; }

/* line 49, ../sass/style.scss */
.Bg img {
  width: 100%; }

/* line 50, ../sass/style.scss */
.PublicScenes .Bg img {
  position: relative; }

/* line 51, ../sass/style.scss */
.Inner {
  width: 640px;
  margin: auto;
  position: relative;
  height: 100%; }

/* line 53, ../sass/style.scss */
.home_inf .pub_homeinp {
  position: absolute;
  border: none;
  font-size: 26px;
  color: #000;
  height: 48px;
  line-height: 48px;
  background: none;
  left: 108px;
  width: 455px;
  padding-left: 20px; }

/* line 54, ../sass/style.scss */
.home_box, .home_box .home_bar, .home_box .home_bar .home_nav, .home_box .home_bar .home_nav a, .home_box .home_bar .home_nav a img, .color_car, .color_car .car_box, .color_car .car_box img, .revolve_box .revolve_nav li.color_select a, .bright_box, .bright_box .bright_item, .bright_box .bright_item .bright_nav, .bright_box .bright_item .bright_nav li, .footer .footer_box .footer_nav {
  width: 100%;
  height: 100%; }

/* line 55, ../sass/style.scss */
.home_inf .home_link, .home_box, .set_deploy, .color_car .car_box, .header {
  position: absolute;
  top: 0;
  left: 0; }

/* line 56, ../sass/style.scss */
.join_btn, .map, .dealer_btn, .inf_box, .inf_box .inf_car, .inf_pop, .bright_con, .pull_box {
  position: absolute;
  left: 50%; }

/* line 57, ../sass/style.scss */
.set_deploy select, .box_set select {
  background: none;
  background: transparent;
  -webkit-appearance: none;
  font-size: 20px;
  color: #b5b5b5;
  height: 50px;
  line-height: 50px;
  border: none;
  padding-left: 10px;
  padding-right: 55px; }

/* line 58, ../sass/style.scss */
.configure_con, .inf_box .inf_item, .inf_pop .inf_pop_box {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch; }

/************************************首页*********************************************/
/* line 61, ../sass/style.scss */
.home_inf {
  width: 619px;
  height: 266px;
  position: absolute;
  bottom: 65px;
  left: 50%;
  margin-left: -310px;
  background: url(../images/home_infbg.png) no-repeat;
  z-index: 9; }
/* line 62, ../sass/style.scss */
.home_inf .apply_btn {
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -275px; }
/* line 64, ../sass/style.scss */
.home_inf .home_name {
  top: 60px; }
/* line 65, ../sass/style.scss */
.home_inf .home_phone {
  top: 125px; }
/* line 66, ../sass/style.scss */
.home_inf .home_link {
  width: 230px;
  height: 52px;
  z-index: 10;
  left: 206px; }

/* line 69, ../sass/style.scss */
.home_box .home_bar {
  overflow: hidden;
  position: relative; }
/* line 70, ../sass/style.scss */
.home_box .home_bar .home_nav {
  overflow: hidden;
  *zoom: 1; }
/* line 53, D:/tobe/core/_mixin.scss */
.home_box .home_bar .home_nav:before, .home_box .home_bar .home_nav:after {
  content: "";
  display: table; }
/* line 58, D:/tobe/core/_mixin.scss */
.home_box .home_bar .home_nav:after {
  clear: both; }
/* line 71, ../sass/style.scss */
.home_box .home_bar .home_nav li {
  width: 660px;
  height: 1076px;
  float: left; }
/* line 77, ../sass/style.scss */
.home_box .home_carousel {
  width: 176px;
  height: 6px;
  position: absolute;
  top: 680px;
  right: 34px;
  font-size: 0;
  z-index: 10; }
/* line 78, ../sass/style.scss */
.home_box .home_carousel a {
  width: 54px;
  height: 6px;
  background: #fff;
  margin-right: 2px;
  display: inline-block;
  font-size: 0; }
/* line 79, ../sass/style.scss */
.home_box .home_carousel a.carousel_set {
  background: #db203c; }

/************************************活动机制*********************************************/
/* line 88, ../sass/style.scss */
.join_btn {
  top: 886px;
  margin-left: -99px; }

/* line 89, ../sass/style.scss */
.mechanism_box {
  position: absolute;
  top: 682px;
  left: 70px; }
/* line 90, ../sass/style.scss */
.mechanism_box .mechanism_img {
  margin-bottom: 10px; }
/* line 91, ../sass/style.scss */
.mechanism_box p {
  font-size: 18px;
  color: #000;
  line-height: 26px; }

/* line 93, ../sass/style.scss */
.people {
  position: absolute;
  top: 420px;
  right: 20px; }

/* line 94, ../sass/style.scss */
.activity_tip {
  position: absolute;
  top: 76px;
  left: 0px; }

/* line 95, ../sass/style.scss */
.activity_car {
  position: absolute;
  top: 428px;
  left: 54px; }

/************************************配置*********************************************/
/* line 102, ../sass/style.scss */
.deploy_car {
  position: absolute;
  top: 146px;
  left: 250px; }

/* line 103, ../sass/style.scss */
.deploy_tip {
  position: absolute;
  top: 146px;
  left: 45px; }

/* line 104, ../sass/style.scss */
.set_deploy {
  width: 100%;
  height: 72px;
  top: 274px;
  background: url(../images/set_deploy.png) no-repeat;
  background-size: 100% 100%;
  z-index: 10; }
/* line 105, ../sass/style.scss */
.set_deploy select {
  position: absolute;
  top: 10px;
  right: 35px;
  width: 180px; }

/* line 108, ../sass/style.scss */
.configure_price {
  position: absolute;
  top: 274px;
  left: 0;
  z-index: 12; }
/* line 109, ../sass/style.scss */
.configure_price .configure_price1 {
  display: block; }
/* line 110, ../sass/style.scss */
.configure_price .configure_price2 {
  display: none; }
/* line 111, ../sass/style.scss */
.configure_price .configure_price3 {
  display: none; }
/* line 112, ../sass/style.scss */
.configure_price .configure_price4 {
  display: none; }
/* line 113, ../sass/style.scss */
.configure_price .configure_price5 {
  display: none; }
/* line 114, ../sass/style.scss */
.configure_price .configure_price6 {
  display: none; }

/* line 116, ../sass/style.scss */
.configure_con {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  top: 345px;
  padding-top: 20px; }
/* line 117, ../sass/style.scss */
.configure_con .configuration_details {
  height: 100%; }
/* line 118, ../sass/style.scss */
.configure_con .configuration_details img {
  width: 100%;
  height: auto; }
/* line 120, ../sass/style.scss */
.configure_con .configuration_details_1 {
  display: block; }
/* line 121, ../sass/style.scss */
.configure_con .configuration_details_2 {
  display: none; }
/* line 122, ../sass/style.scss */
.configure_con .configuration_details_3 {
  display: none; }
/* line 123, ../sass/style.scss */
.configure_con .configuration_details_4 {
  display: none; }
/* line 124, ../sass/style.scss */
.configure_con .configuration_details_5 {
  display: none; }
/* line 125, ../sass/style.scss */
.configure_con .configuration_details_6 {
  display: none; }

/************************************经销商查询*********************************************/
/* line 130, ../sass/style.scss */
.dealer_tip {
  position: absolute;
  top: 142px;
  left: 48px; }

/* line 131, ../sass/style.scss */
.map {
  top: 242px;
  margin-left: -301px;
  width: 609px;
  height: 526px; }

/* line 132, ../sass/style.scss */
.dealer_btn {
  top: 858px;
  margin-left: -172px; }

/* line 133, ../sass/style.scss */
.box_set {
  position: absolute;
  top: 785px;
  background: url(../images/dealer_setbg.png) no-repeat;
  width: 264px;
  height: 51px; }
/* line 134, ../sass/style.scss */
.box_set select {
  width: 260px; }

/* line 136, ../sass/style.scss */
.province_set {
  left: 50px; }

/* line 137, ../sass/style.scss */
.city_set {
  right: 50px; }

/************************************360旋转*********************************************/
/* line 144, ../sass/style.scss */
.revolve_tip {
  position: absolute;
  top: 140px;
  left: 48px; }

/* line 145, ../sass/style.scss */
.round_num {
  position: absolute;
  top: 788px;
  left: 296px;
  z-index: 8; }

/* line 146, ../sass/style.scss */
.round {
  position: absolute;
  top: 810px;
  left: 262px;
  z-index: 8; }

/* line 147, ../sass/style.scss */
.color_car {
  position: relative; }

/* line 153, ../sass/style.scss */
.revolve_box {
  width: 100%;
  top: 300px;
  position: absolute;
  left: 0;
  z-index: 10; }
/* line 154, ../sass/style.scss */
.revolve_box .revolve_nav {
  width: 100%;
  text-align: center;
  font-size: 0; }
/* line 155, ../sass/style.scss */
.revolve_box .revolve_nav li {
  margin-right: 30px;
  width: 53px;
  height: 88px; }
/* line 156, ../sass/style.scss */
.revolve_box .revolve_nav li a {
  background: url(../images/icon/Color-sf5c5d8301d.png) no-repeat;
  width: 53px;
  height: 88px; }
/* line 158, ../sass/style.scss */
.revolve_box .revolve_nav li.color_select {
  width: 94px;
  height: 117px;
  margin-right: 20px;
  position: relative; }
/* line 159, ../sass/style.scss */
.revolve_box .revolve_nav li.color_select a {
  position: absolute;
  top: -20px;
  left: 0; }
/* line 161, ../sass/style.scss */
.revolve_box .revolve_nav .red_bar a {
  background-position: 0 -442px; }
/* line 162, ../sass/style.scss */
.revolve_box .revolve_nav .red_bar.color_select a {
  background-position: 0 -538px; }
/* line 163, ../sass/style.scss */
.revolve_box .revolve_nav .white_bar a {
  background-position: 0 -663px; }
/* line 164, ../sass/style.scss */
.revolve_box .revolve_nav .white_bar.color_select a {
  background-position: 0 -759px; }
/* line 165, ../sass/style.scss */
.revolve_box .revolve_nav .blue_bar a {
  background-position: 0 0; }
/* line 166, ../sass/style.scss */
.revolve_box .revolve_nav .blue_bar.color_select a {
  background-position: 0 -96px; }
/* line 167, ../sass/style.scss */
.revolve_box .revolve_nav .brown_bar a {
  background-position: 0 -221px; }
/* line 168, ../sass/style.scss */
.revolve_box .revolve_nav .brown_bar.color_select a {
  background-position: 0 -317px; }

/*****************红色车子********************/
/* line 172, ../sass/style.scss */
.red_box {
  display: block; }
/* line 173, ../sass/style.scss */
.red_box .car_red1_03 {
  display: block; }
/* line 174, ../sass/style.scss */
.red_box .car_red2_03 {
  display: none; }
/* line 175, ../sass/style.scss */
.red_box .car_red3_03 {
  display: none; }
/* line 176, ../sass/style.scss */
.red_box .car_red4_03 {
  display: none; }
/* line 177, ../sass/style.scss */
.red_box .car_red5_03 {
  display: none; }
/* line 178, ../sass/style.scss */
.red_box .car_red6_03 {
  display: none; }

/*****************白色车子********************/
/* line 182, ../sass/style.scss */
.white_box {
  display: none; }
/* line 183, ../sass/style.scss */
.white_box .car_white1_03 {
  display: none; }
/* line 184, ../sass/style.scss */
.white_box .car_white2_03 {
  display: none; }
/* line 185, ../sass/style.scss */
.white_box .car_white3_03 {
  display: none; }
/* line 186, ../sass/style.scss */
.white_box .car_white4_03 {
  display: none; }
/* line 187, ../sass/style.scss */
.white_box .car_white5_03 {
  display: none; }
/* line 188, ../sass/style.scss */
.white_box .car_white6_03 {
  display: none; }

/*****************蓝色车子********************/
/* line 193, ../sass/style.scss */
.blue_box {
  display: none; }
/* line 194, ../sass/style.scss */
.blue_box .car_blue1_03 {
  display: none; }
/* line 195, ../sass/style.scss */
.blue_box .car_blue2_03 {
  display: none; }
/* line 196, ../sass/style.scss */
.blue_box .car_blue3_03 {
  display: none; }
/* line 197, ../sass/style.scss */
.blue_box .car_blue4_03 {
  display: none; }
/* line 198, ../sass/style.scss */
.blue_box .car_blue5_03 {
  display: none; }
/* line 199, ../sass/style.scss */
.blue_box .car_blue6_03 {
  display: none; }

/*****************紫色车子********************/
/* line 204, ../sass/style.scss */
.brown_box {
  display: none; }
/* line 205, ../sass/style.scss */
.brown_box .car_brown1_03 {
  display: none; }
/* line 206, ../sass/style.scss */
.brown_box .car_brown2_03 {
  display: none; }
/* line 207, ../sass/style.scss */
.brown_box .car_brown3_03 {
  display: none; }
/* line 208, ../sass/style.scss */
.brown_box .car_brown4_03 {
  display: none; }
/* line 209, ../sass/style.scss */
.brown_box .car_brown5_03 {
  display: none; }
/* line 210, ../sass/style.scss */
.brown_box .car_brown6_03 {
  display: none; }

/************************************资讯*********************************************/
/* line 217, ../sass/style.scss */
.information_tip {
  position: absolute;
  top: 140px;
  left: 48px; }

/***************资讯详情**********************/
/* line 219, ../sass/style.scss */
.inf_box {
  width: 624px;
  margin-left: -312px;
  top: 222px;
  display: block; }
/* line 220, ../sass/style.scss */
.inf_box .inf_nav {
  width: 100%;
  height: 44px;
  margin-bottom: 2px;
  *zoom: 1; }
/* line 53, D:/tobe/core/_mixin.scss */
.inf_box .inf_nav:before, .inf_box .inf_nav:after {
  content: "";
  display: table; }
/* line 58, D:/tobe/core/_mixin.scss */
.inf_box .inf_nav:after {
  clear: both; }
/* line 221, ../sass/style.scss */
.inf_box .inf_nav .inf_sidemenu {
  float: left;
  width: 205px;
  height: 44px;
  margin-right: 3px; }
/* line 222, ../sass/style.scss */
.inf_box .inf_nav .inf_sidemenu a {
  background: url(../images/icon/Color-sf693e5a92b.png) no-repeat; }
/* line 225, ../sass/style.scss */
.inf_box .inf_nav .inf_review a {
  background-position: 0 -208px; }
/* line 227, ../sass/style.scss */
.inf_box .inf_nav .inf_select.inf_review a {
  background-position: 0 -260px; }
/* line 230, ../sass/style.scss */
.inf_box .inf_nav .inf_news a {
  background-position: 0 0; }
/* line 232, ../sass/style.scss */
.inf_box .inf_nav .inf_select.inf_news a {
  background-position: 0 -52px; }
/* line 236, ../sass/style.scss */
.inf_box .inf_nav .inf_praise a {
  background-position: 0 -104px; }
/* line 238, ../sass/style.scss */
.inf_box .inf_nav .inf_select.inf_praise a {
  background-position: 0 -156px; }
/* line 240, ../sass/style.scss */
.inf_box .inf_item {
  width: 100%;
  height: 518px; }
/* line 241, ../sass/style.scss */
.inf_box .inf_item .inf_bar {
  width: 622px;
  height: 168px;
  background: #fff;
  position: relative;
  margin-bottom: 8px; }
/* line 243, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_left {
  width: 168px;
  height: 168px; }
/* line 244, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_left img {
  width: 168px; }
/* line 246, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_right {
  width: 396px;
  position: absolute;
  margin: -160px 0px 0px 182px; }
/* line 247, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_right h4 {
  line-height: 30px;
  color: #db3636;
  font-size: 20px; }
/* line 248, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_right h3 {
  line-height: 35px;
  color: #121212;
  font-size: 23px; }
/* line 249, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_right p {
  line-height: 26px;
  color: #676767;
  font-size: 18px;
  max-height: 80px;
  overflow: hidden; }
/* line 251, ../sass/style.scss */
.inf_box .inf_item .inf_bar .inf_con .inf_arrow {
  position: absolute;
  margin: -105px 0px 0px 585px; }
/* line 255, ../sass/style.scss */
.inf_box .inf_line {
  margin-top: 2px; }
/* line 256, ../sass/style.scss */
.inf_box .inf_car {
  top: 595px;
  margin-left: -202px; }

/***************资讯弹出**********************/
/* line 260, ../sass/style.scss */
.inf_pop {
  display: none;
  width: 566px;
  top: 220px;
  margin-left: -283px; }
/* line 261, ../sass/style.scss */
.inf_pop .inf_pop_tip {
  border-bottom: 4px solid #d50222; }
/* line 262, ../sass/style.scss */
.inf_pop .inf_pop_tip h3 {
  font-size: 24px;
  color: #da1f36;
  line-height: 45px; }
/* line 263, ../sass/style.scss */
.inf_pop .inf_pop_tip p {
  position: absolute;
  top: 0px;
  right: 10px; }
/* line 265, ../sass/style.scss */
.inf_pop .inf_pop_title {
  text-align: center;
  font-size: 30px;
  line-height: 64px;
  font-weight: bold; }
/* line 266, ../sass/style.scss */
.inf_pop .inf_pop_title h2 {
  font-size: 32px;
  color: #000;
  line-height: 70px; }
/* line 268, ../sass/style.scss */
.inf_pop .inf_pop_box {
  width: 100%;
  height: 592px;
  overflow-x: hidden; }
/* line 269, ../sass/style.scss */
.inf_pop .inf_pop_box img {
  width: 558px !important; }
/* line 271, ../sass/style.scss */
.inf_pop .inf_pop_box .inf_pop_con p {
  font-size: 20px;
  color: #5c5c5c;
  line-height: 30px; }
/* line 273, ../sass/style.scss */
.inf_pop .inf_pop_box .inf_pop_img {
  margin: 10px 0px; }
/* line 274, ../sass/style.scss */
.inf_pop .inf_pop_box .inf_pop_img img {
  width: 558px; }

/************************************亮点*********************************************/
/* line 287, ../sass/style.scss */
.bright_box {
  position: relative; }
/* line 288, ../sass/style.scss */
.bright_box .power_tip {
  left: 216px;
  display: block; }
/* line 289, ../sass/style.scss */
.bright_box .control_tip {
  left: 156px;
  display: block; }
/* line 290, ../sass/style.scss */
.bright_box .pretty_tip {
  left: 268px;
  display: block; }
/* line 291, ../sass/style.scss */
.bright_box .bright_left_arrow {
  position: absolute;
  top: 528px;
  left: 0;
  z-index: 8; }
/* line 292, ../sass/style.scss */
.bright_box .bright_right_arrow {
  position: absolute;
  top: 528px;
  right: 0;
  z-index: 8; }
/* line 293, ../sass/style.scss */
.bright_box .bright_item {
  position: relative;
  overflow: hidden; }
/* line 294, ../sass/style.scss */
.bright_box .bright_item .bright_nav {
  overflow: hidden;
  *zoom: 1; }
/* line 53, D:/tobe/core/_mixin.scss */
.bright_box .bright_item .bright_nav:before, .bright_box .bright_item .bright_nav:after {
  content: "";
  display: table; }
/* line 58, D:/tobe/core/_mixin.scss */
.bright_box .bright_item .bright_nav:after {
  clear: both; }
/* line 295, ../sass/style.scss */
.bright_box .bright_item .bright_nav li {
  float: left;
  position: absolute;
  display: none; }

/* line 300, ../sass/style.scss */
.bright_tip {
  position: absolute;
  top: 190px; }

/* line 301, ../sass/style.scss */
.bright_con {
  background: url(../images/bright_conbg.png) no-repeat;
  width: 624px;
  height: 603px;
  margin-left: -312px;
  top: 282px; }

/* line 302, ../sass/style.scss */
.bright_bar {
  position: absolute;
  top: 7px;
  left: 7px; }

/* line 303, ../sass/style.scss */
.bright_text {
  position: absolute;
  bottom: 0px;
  left: 0px; }

/* line 306, ../sass/style.scss */
.pull_box {
  background: url(../images/pull_bg.png) no-repeat;
  width: 595px;
  height: 7px;
  margin-left: -298px;
  top: 922px;
  z-index: 10; }
/* line 307, ../sass/style.scss */
.pull_box .pull_set {
  background: url(../images/pull_set.png) no-repeat;
  width: 588px;
  height: 3px;
  position: absolute;
  top: 3px;
  left: 3px; }
/* line 308, ../sass/style.scss */
.pull_box .drag_bar {
  position: absolute;
  top: -27px;
  left: -16px; }

/************************************顶部logo*********************************************/
/* line 322, ../sass/style.scss */
.header {
  width: 100%;
  height: 70px;
  z-index: 10;
  background: #fff; }

/* line 323, ../sass/style.scss */
.title {
  position: absolute;
  top: 25px;
  left: 22px; }

/* line 324, ../sass/style.scss */
.logo {
  position: absolute;
  top: 10px;
  right: 18px; }

/************************************底部导航*********************************************/
/* line 326, ../sass/style.scss */
.footer {
  width: 630px;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  margin-left: -315px; }
/* line 328, ../sass/style.scss */
.footer .footer_box {
  width: 100%;
  height: 65px; }
/* line 329, ../sass/style.scss */
.footer .footer_box .footer_nav {
  *zoom: 1; }
/* line 53, D:/tobe/core/_mixin.scss */
.footer .footer_box .footer_nav:before, .footer .footer_box .footer_nav:after {
  content: "";
  display: table; }
/* line 58, D:/tobe/core/_mixin.scss */
.footer .footer_box .footer_nav:after {
  clear: both; }
/* line 330, ../sass/style.scss */
.footer .footer_box .footer_nav li {
  float: left;
  margin-right: 1px;
  width: 125px;
  height: 65px; }

/* line 334, ../sass/style.scss */
.footer_btn a {
  background: url(../images/icon/Color-s1d1c9f502d.png) no-repeat; }

/* line 335, ../sass/style.scss */
.activity_btn a {
  background-position: 0 0; }

/* line 336, ../sass/style.scss */
.activity_btn.footer_set a {
  background-position: 0 -73px; }

/* line 337, ../sass/style.scss */
.deploy_btn a {
  background-position: 0 -146px; }

/* line 338, ../sass/style.scss */
.deploy_btn.footer_set a {
  background-position: 0 -219px; }

/* line 339, ../sass/style.scss */
.drop_btn a {
  background-position: 0 -452px; }

/* line 340, ../sass/style.scss */
.drop_btn.footer_set a {
  background-position: 0 -525px; }

/* line 341, ../sass/style.scss */
.information_btn a {
  background-position: 0 -598px; }

/* line 342, ../sass/style.scss */
.information_btn.footer_set a {
  background-position: 0 -671px; }

/* line 343, ../sass/style.scss */
.limit_btn a {
  background-position: 0 -744px; }

/* line 344, ../sass/style.scss */
.footer_set.limit_btn a {
  background-position: 0 -817px; }

/************************************预约试驾门店查询按钮*********************************************/
/* line 348, ../sass/style.scss */
.change_box {
  height: 72px;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 10;
  width: 164px; }
/* line 349, ../sass/style.scss */
.change_box .change_btn {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0; }
/* line 350, ../sass/style.scss */
.change_box .change_btn a {
  background: url(../images/icon/Color-s1d1c9f502d.png) no-repeat; }
/* line 352, ../sass/style.scss */
.change_box .diver {
  left: 0; }
/* line 353, ../sass/style.scss */
.change_box .diver a {
  background-position: 0 -292px; }
/* line 356, ../sass/style.scss */
.change_box .diver.change_set a {
  background-position: 0 -372px; }
/* line 358, ../sass/style.scss */
.change_box .search {
  right: 0; }
/* line 359, ../sass/style.scss */
.change_box .search a {
  background-position: 0 -890px; }
/* line 362, ../sass/style.scss */
.change_box .search.change_set a {
  background-position: 0 -970px; }

/************************************Loading_star*********************************************/
/* line 369, ../sass/style.scss */
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: black; }

/* line 370, ../sass/style.scss */
.wrapperInner {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%; }

/* line 371, ../sass/style.scss */
.wrapperInner h1 {
  text-align: center;
  width: 100%;
  color: #fff; }

/* line 372, ../sass/style.scss */
.loadinner {
  height: 99%;
  width: 0%;
  border-radius: inherit;
  position: relative;
  background: #c2d7ac;
  background: linear-gradient(#e0f6c8, #98ad84);
  box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.3), 0 4px 5px rgba(0, 0, 0, 0.3); }

/* line 381, ../sass/style.scss */
.wrapper p a {
  color: #757575;
  text-decoration: none; }

/* line 382, ../sass/style.scss */
.wrapper .load-bar {
  width: 60%;
  height: 25px;
  border-radius: 30px;
  background: #dcdbd7;
  position: relative;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 2px 3px rgba(0, 0, 0, 0.2);
  margin: auto; }

/* line 392, ../sass/style.scss */
.wrapper .loadinner {
  height: 99%;
  width: 0%;
  border-radius: inherit;
  position: relative;
  background: #c2d7ac;
  background: linear-gradient(#e0f6c8, #98ad84);
  background: -moz-linear-gradient(#e0f6c8, #98ad84);
  background: -webkit-linear-gradient(#e0f6c8, #98ad84);
  background: -o-linear-gradient(#e0f6c8, #98ad84);
  box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.3), 0 4px 5px rgba(0, 0, 0, 0.3); }

/* line 404, ../sass/style.scss */
.wrapper #counter {
  position: absolute;
  background: #eeeff3;
  background: linear-gradient(#eeeff3, #cbcbd3);
  background: -moz-linear-gradient(#eeeff3, #cbcbd3);
  background: -webkit-linear-gradient(#eeeff3, #cbcbd3);
  background: -o-linear-gradient(#eeeff3, #cbcbd3);
  padding: 5px 10px;
  border-radius: 0.4em;
  box-shadow: inset 0 1px 0 white, 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  top: -50px;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  right: -20px;
  text-align: center; }

/* line 421, ../sass/style.scss */
.wrapper #counter:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #cbcbd3;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 0; }

/* line 437, ../sass/style.scss */
.wrapper h1 {
  font-size: 28px;
  padding: 20px 0 8px 0; }

/* line 441, ../sass/style.scss */
.wrapper p {
  font-size: 13px; }

@keyframes loader {
  from {
    width: 0%; }
  to {
    width: 100%; } }
@-moz-keyframes loader {
  from {
    width: 0%; }
  to {
    width: 100%; } }
@-webkit-keyframes loader {
  from {
    width: 0%; }
  to {
    width: 100%; } }
@-o-keyframes loader {
  from {
    width: 0%; }
  to {
    width: 100%; } }
@keyframes counter {
  from {
    left: -25px; }
  to {
    left: 323px; } }
@-moz-keyframes counter {
  from {
    left: -25px; }
  to {
    left: 323px; } }
@-webkit-keyframes counter {
  from {
    left: -25px; }
  to {
    left: 323px; } }
@-o-keyframes counter {
  from {
    left: -25px; }
  to {
    left: 323px; } }
/************************************Loading_end*********************************************/
